@use "../custom" as *;

@mixin bgImage($color, $url) {
  background-image: linear-gradient($color 0%, $color 100%), url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@mixin headingBorder($colorTexto, $colorLinea) {
  color: $colorTexto;
  display: inline-block;
  margin-top: 2rem;
  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
  &::after {
    content: "";
    height: 1rem;
    width: 100%;
    background-color: $colorLinea;
    display: block;
    margin: -1.5rem 0 0 0;
  }
}
